<div id="cookieinfo" class="cookieinfo">
	<div class="cookieinfowarstwanosna" style="display:none;">
		<div class="cookieinfowarstwatekstu">
			Używamy cookies m.in. w celach zapewnienia maksymalnej wygody użytkowników przy korzystaniu z naszej strony (zapamiętywanie preferencji i ustawień na naszych stronach, zbieranie anonimowych danych dla celów statystycznych). Korzystanie z witryny bez zmiany
			ustawień Twojej przeglądarki oznacza, że będą one umieszczane w Twoim urządzeniu końcowym. Pamiętaj, że zawsze możesz zmienić te ustawienia.
		</div>
		<img src="/assets/zamknij.png" alt="" class="cookieinfozamknij" onclick="document.getElementById(&quot;cookieinfo&quot;).style.display=&quot;none&quot;;setCookie(&quot;cookieinfo&quot;,&quot;potwierdzone&quot;,365);" />
	</div>
</div>