<div id='menu'>
  <div class='menu'>
  	<div class='menustart'></div>
  	<div class='menumiddle'>
    	<div class='menuodstep'>
      	<a href='.' class='menuglowne'>Strona główna</a>
        <div class='separatormenu'>|</div>
        <a href='products' class='menuglowne'>Produkty</a>
        <div class='separatormenu'>|</div>
        <a href='contact' class='menuglowne'>Kontakt</a>
    	</div>
  	</div>
    <div class='menustop'></div>
	</div>
</div>