<div class="stopka">
	<div>Wszelke prawa zastrzeżone dla Terrabit Janusz Hess. Projekt i realizacja 
		<a href="http://www.drukarnia.infopres.pl" onclick="window.open(&quot;http://www.drukarnia.infopres.pl&quot;,&quot;chaild&quot;);return false;" class="stopka">
				www.drukarnia.infopres.pl</a>
	</div>
</div>