<!DOCTYPE html>
<html>
<head>
  <title>PomyslyOnline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta http-equiv="Content-Language" content="pl" />
	<meta name="Description" content="" />
	<meta name="Keywords" content="" />
	<meta name="rating" content="" />
	<meta name="Author" content="Rafał Oleśkowicz" />
	<meta name="Revisit-after" content="1 Day" />
	<meta name="robots" content="index,follow" />
	<meta http-equiv="Reply-To" content="rafal@labnode.org" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="Creation-Date" content="Cz, 15 lis 2012 12:14:37 +0100" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<%= yield %>

</body>
</html>
